*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    font-family: 'Noto Sans Display', sans-serif;
}
.conteiner{
    width: 1296px;
    margin: 0 auto;
    
}

/* header */

.header{
    width: 1296px;
    height: 231px;
}
.header-info{
    float: left;
    width: 430px;
    height: 16px;
    margin-top: 29px;
    margin-left: 80px;
}
.header-info span{
    margin-right: 21px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}
.phone{
    float: left;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-left: 106px;
    margin-top: 25px;
}
.phone a{
    text-decoration: none;
    color: black;
}
.header-right{
    float: right;
    margin-left: 90px;
    margin-top: 30px;
    margin-right: 151px;
}
.header-right img:nth-child(1),
.header-right img:nth-child(2),
.header-right img:nth-child(3){
    margin-right: 24px;
}
.header-right img:nth-child(3){
    margin-right: 45px;
}
img{
    height: 25px;
    width: 25px;
}
.header-right span{
    display: inline-block;
    vertical-align: 5px;
    margin-left: 8px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

/* second-head */

.second-head{
    float: left;
}
.second-head img:first-child{
    float: left;
    height: 25px;
    width: 25px;
    margin-left: 80px;
    margin-top: 63px;
}
.second-head img:nth-child(2){
    float: left;
    height: 82px;
    width: 118px;
    margin-left: 33px;
    margin-top: 36px;
}
.second-head div.search{
    float: left;
    width: 702px;
    height: 52px;
    background-color: #F9F9F9;
    border-radius: 8px;
    margin-left: 45px;
    margin-top: 51px;
    background-image: url(img/search.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 4%;
}
.second-head div.search span{
    display: inline-block;
    vertical-align: -15px;
    padding-left: 35px;
    color: #00000080;

}
div.cap{
    width: 156px;
    height: 52px;
    float: left;
    background: #81B43F;
    border-radius: 8px;
    text-align: center;
    margin-left: 45px;
    margin-top: 47px;
    margin-right: 79px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: white;
}
.second-head div.inner-cap{
    float: left;
    border-right: 1px solid white;
    margin: 15px 15px 24px;
    padding-right: 20px;
    
}
.second-head div.cap span{
    display: inline-block;
    margin-top: 15px;
    margin-right: 24px;
}

/* header-menu */

.header-menu{
    width: 697px;
    height: 22px;
    margin: 24px 283px 37px 315px;
}
.header-menu span{
    margin-right: 22px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}
.header-menu span:last-of-type{
    color: #FF715B;
}

/* cover */

.cover{
    width: 1296px;
    height: 381px;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.hit{
    float: right;
    width: 511px;
    height: 226px;
    margin-top: 77px;
    margin-bottom: 78px;
    background-color: #FF715B;
    text-align: center;
}
.hit p:first-child{
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}
.hit h1{
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 60px;
    color: #FFFFFF;
}
.hit p:last-child{
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
}
.cover-text{
    margin-top: 46px
}

/* menu */

.menu{
    width: 1296px;
    height: 83px;
}
.menu span{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: inline-block;
    margin-top: 27px;
    margin-right: 64px;
}
.menu div.filters{
    float: left;
    margin-left: 80px;
    border: 1px solid #F5F5F5;
    width: 272px;
    height: 77px;
    text-align: center;
}
.menu span:first-of-type{
    margin-left: 46px;
}
.menu div.filters span img{
    width: 25px;
    height: 21px;
    vertical-align: bottom;
}

/* goods */

div.goods{
    width: 1296px;
    height: 2562px;
    background: #F9F9F9;
    margin-top: -6px;
}
.goods div.window-goods{
    width: 1139px;
    margin: auto auto;
}
.direction{
    float: left;
    height: 19px;
    margin-top: 66px;
}
.sorting{
    float: right;
    width: 410px;
    height: 19px;
    
    margin-top: 66px;
    color: #00000080;
}
.sorting-info{
    height: 100px;
}
.sorting span:first-of-type{
    color: black;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
}
.sorting span{
    display: inline-block;
    margin-right: 13px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}
.sorting span:last-of-type{
    margin-right: 0;
}

/* window of goods */

div.name{
    float: left;
}
div.name h2, div.name div{
    float: left;
}
div.sort-icon{
    float: right;
    margin-top: 20px;
}
div.name div{
    margin-top: 23px;
    margin-left: 24px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.5);
}
div.name h2{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
}
div.sorting-view{
    height: 49px;
}

/* cards */

div.window-goods div.card:nth-child(3){
    margin-top: 28px;
}
.card{
    height: 273px;
    margin-top: 16px;
    background: #FFFFFF;
    border-radius: 8px;
}
div.card img{
    width: 210px;
    height: 210px;
    margin: 20px 20px 20px;
    float: left;
}
div.name-of-card{
    height: 45px;
}
div.name-of-card img{
    float: right;
    height: 25px;
    width: 25px;
    margin-top: 20px;
    opacity: .5;
}
div.name-of-card p{
    float: left;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 160%;
    margin-top: 9px;
}
div.name-of-card img:last-child{
    margin-right: -8px;
}

/* artikul */

div.artikul{
    margin-right: 717px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.2);
}

/* rating */

div.rating img{
    float: right;
    margin-left: 1px;
}
div.rating{
    float: left;
}
div.rating img{
    height: 15px;
    width: 15px;
    opacity: 0.3;
    margin-right: 5px;
}
div.rating img:hover ~ img,div.rating img:hover{
    opacity: 1;
}

/* descrtiption */

div.card-info{
    margin-top: 62px;
    height: 66px;
}
div.mini-info{
    float: left;
}
div.mini-info p{
    font-weight: 600;
    font-size: 14px;
    line-height: 160%
}
div.mini-info span{
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
}
div.price{
    margin-left: 879px;
    margin-top: 35px;
    font-weight: bold;
    font-size: 28px;
    line-height: 160%;
}

/* delivery and basket */

div.delivery-basket{
    margin-top: 8px;
}
div.delivery-card img{
    float: left;
    height: 25px;
    width: 25px;
    margin-right: 20px;
    margin-left: 0;
    margin-bottom: 20px;
}
div.basket{
    float: right;
    background: #81B43F;
    border-radius: 8px;
    width: 240px;
    height: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}
div.delivery-card img + span{
    display: inline-block;
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    vertical-align: -20px;
}
div.delivery-card div span{
    vertical-align: -14px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;  
    color: #FFFFFF;
}
div.basket img{
    height: 18px;
    width: 18px;
    float: left;
}

/* other goods */

.other-goods{
    margin-top: 16px;
    border-radius: 8px;
    width: 1136px;
    height: 209px;
    background-image: url(img/back_toys.png);
    background-repeat: no-repeat;
    background-position: center;
}
.other-goods div.new-toys h3{
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    padding-left: 136px;
    padding-top: 51px;
}
.other-goods div.check-toys{
    border: 1px solid #000000;
    border-radius: 7px;
    width: 191px;
    height: 47px;
    text-align: center;
    margin-left: 137px;
    margin-top: 12px;
}
.other-goods div.check-toys span{
    display: inline-block;
    vertical-align: -11px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}

/* more goods */

div.expand{
    margin-top: 10px;
    height: 76px;
}
div.more-goods{
    width: 149px;
    height: 47px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 7px;
    float: left;
    margin-top: 28px;
    margin-left: 573px;
    text-align: center;
}
div.more-goods span{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    display: inline-block;
    vertical-align: -12px;
}
div.open img{
    height: 47px;
    width: 47px;
    border-radius: 50%;
    background-color: white;
    margin-top: 28px;
    transform: rotate(-90deg);
}
div.open{
    float: right;
    margin-right: 80px;
}
div.amount-of-goods{
    margin-top: 20px;
    margin-left: 581px;
    width: 131px;
    height: 16px;
}
div.amount-of-goods span{
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.5);
}

/* footer */

div.footer{
    width: 1296px;
    height: 439px;
    background: #F0F0F0;
}
.footer-info{
    height: 272px;
}
div.services{
    width: 177px;
    height: 206px;
    float: left;
    margin-top: 66px;
    margin-left: 128px;
}
div.about-company{
    width: 159px;
    height: 146px;
    float: left;
    margin-left: 126px;
    margin-top: 66px;
}
div.catalog{
    width: 184px;
    height: 176px;
    float: left;
    margin-left: 110px;
    margin-top: 66px;
}
div.social-network{
    width: 216px;
    height: 127px;
    float: left;
    margin-top: 66px;
    margin-left: 88px;
}
ul{
    list-style-type: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;  
    
}
ul li{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 6px;
    opacity: .9;
}
ul li:first-child{
    margin-top: 12px;
}
div.social-network span{
    display: inline-block;
    margin-right: 1px;
    margin-bottom: 20px;
}
div.social-network img{
    width: 130px;
    height: 41px;
    border-radius: 10px;
    margin-bottom: 5px;
}

/* network */

div.network{
    text-align: center;
    margin-top: 56px;
}
div.network img{
    margin-right: 12px;
    border-radius: 3px;
}
div.company-rights{
    width: 335px;
    height: 32px;
    text-align: center;
    font-weight: normal;
    font-size: 10px;
    line-height: 160%;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 481px;
    margin-top: 14px;
}