*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.conteiner{
    width: 1140px;
    margin: 0 auto;
    background-color: green;
}
.header{
    height: 40px;
    margin-top: 32px;
}
.header-right{
float: right;
}
.search{
width: 464px;
height: 40px;
float: left;
}
.search img{
    float: right;
}
.logo{
    float: left;
}
.clear{
    clear: both;
}
.logo img{
    vertical-align: -7px;
}
.logo span{
    display: inline-block;
    margin-top: 10px;
}