@import "variables";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Orchidea Pro ExBd';
}
body{
    height: 10000px;
}
.container{
    width: $ds;
    margin: 0 auto;
}
.header{
    .header-top{
        & .container{
            display: flex;
            justify-content: space-between;

            & ul{
                // display: flex;
                // flex-flow: row;
            }
        }
    }
}